<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Home</title>
</head>
<body>

	<div >
		<p class="text-success mt-2" th:if="${success}" th:text="${success}">Employee registered successfully!</p>
	</div>

	<div class="container text-center mt-2">
		<a th:href="@{/register-page}" class="btn btn-outline-success">Add
			Employee</a>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">

					<table class="table mt-3 table-bordered table-striped">
						<thead class="table-success">
							<tr>
								<th scope="col">Employee_id</th>
								<th scope="col">Employee_name</th>
								<th scope="col">Employee_email</th>
								<th scope="col">Employee_department</th>
								<th scope="col">Employee_salary</th>
								<th scope="col">Employee_mobile_number</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody th:each="list : ${listOfEmployee}">
							<tr>
								<td th:text="${list.id}"></td>
								<td th:text="${list.name}"></td>
								<td th:text="${list.email}"></td>
								<td th:text="${list.department}"></td>
								<td th:text="${list.salary}"></td>
								<td th:text="${list.mobile_no}"></td>
								<td><a th:href="@{/edit/{id}(id=${list.id})}"
									class="btn btn-success">Update</a> <a
									th:href="@{/delete/{id}(id=${list.id})}" class="btn btn-danger">Delete</a></td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>

	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
</html>